<h1> ERROR! </h1>
<h3> page not found </h3>

<br>
<br>

<div style="width: 30%; position: relative" align: right>
  <a href="/" class="btn btn-success btn-md">Home</a>
  <a href="/user_page" class="btn btn-warning btn-md">My Collection</a>
</div>
