<h1>Create a new login.</h1>
<br>
<br>
<form method = 'post' action = '/users/new'>
<div><input type="text" name="name" placeholder="name"><br></div>
<br>
<br>
<div><input type="text" name="email" placeholder="email"><br></div>
<br>
<br>
<div><input type="text" name="password_digest" placeholder="password"><br><div>
<br>
<br>
<p><button type="submit" class="btn-success btn-lg">BAM!</button></p>
</form>
